* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
body,
html {
  overflow: hidden;
  width: 100%;
}
header {
  overflow: hidden;
  height: 60px;
  background-color: #eee;
}
header a {
  width: 35%;
  float: left;
  padding: 15px 5px;
}
header a.tel {
  float: right;
}
.tanBox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.tanBox .boxIn {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 3px;
}
.tanBox .boxIn h1 {
  color: #cc0000;
  font-size: 1em;
  text-align: center;
}
.tanBox .boxIn .one {
  position: relative;
  width: 80%;
  margin: 0 auto 10px;
}
.tanBox .boxIn .one input {
  width: 100%;
  height: 30px;
  border: 1px solid #939393;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-indent: 30px;
  font-size: 12px;
}
.tanBox .boxIn .one input:focus {
  outline: none;
}
.tanBox .boxIn .one i {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 22px;
  height: 22px;
  background: url("../mobImg/home.png") no-repeat center;
  background-size: contain;
}
.tanBox .boxIn .one i.mm {
  left: auto;
  top: 0;
  right: 0;
  width: 60px;
  height: 28px;
  background: url("../mobImg/2.png") no-repeat center;
  background-size: contain;
}
.tanBox .boxIn .two {
  position: relative;
  width: 80%;
  margin: 0 auto 10px;
}
.tanBox .boxIn .two input {
  width: 100%;
  height: 30px;
  border: 1px solid #939393;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-indent: 30px;
  font-size: 12px;
}
.tanBox .boxIn .two input:focus {
  outline: none;
}
.tanBox .boxIn .two i {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 22px;
  height: 22px;
  background: url("../mobImg/phone.png") no-repeat center;
  background-size: contain;
}
.tanBox .boxIn p {
  font-size: 12px;
  color: #cc0000;
  margin-bottom: 10px;
}
.tanBox .boxIn .three {
  width: 80%;
  margin: 0 auto;
}
.tanBox .boxIn .three button {
  width: 100%;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #cc0000;
  color: #fff;
}
.tanBox .boxIn .three button:focus {
  outline: none;
}
.tanBox .boxIn .close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 28px;
  height: 28px;
  background: url("../mobImg/close.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.bottom_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.tel_right {
  position: fixed;
  right: 0;
  bottom: 10%;
  width: 30px;
  height: 140px;
  background: url("../mobImgThree/tel.png") no-repeat center;
  background-size: contain;
}
.tel_right img {
  position: absolute;
  bottom: 7%;
}
.content_all {
  position: relative;
}
.content_all .content {
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
  width: 100%;
}
.content_all .content ul {
  position: relative;
}
.content_all .content ul .item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.content_all .content ul .item .oneLine {
  width: 40%;
  margin: 0 auto;
}
.content_all .content ul .item .twoLine {
  width: 100%;
  text-align: center;
}
.content_all .content ul .item .twoLine li {
  display: inline-block;
  width: 40%;
  padding: 15px;
  margin-top: 5px;
}
.content_all .content ul .item .twoLine li div {
  position: relative;
  margin-bottom: 5px;
}
.content_all .content ul .item .twoLine li div i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 24px;
  height: 24px;
  background: url(../mobImg/no.png) no-repeat center;
  background-size: cover;
}
.content_all .content ul .item .twoLine li.active div i {
  background: url("../mobImg/ok.png") no-repeat center;
  background-size: cover;
}
.content_all .content ul .item .btnLine {
  width: 100%;
  margin-top: 10px;
}
.content_all .content ul .item .btnLine button {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 40px;
  line-height: 40px;
  background-color: #f38f01;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  border: 0;
}
.content_all .content ul .item .btnLine button:focus {
  outline: none;
}
.content_all .content ul .item.active {
  display: block;
}
.content_all .content ul .twoPage .oneLine {
  width: 50%;
  margin-bottom: 15px;
}
.content_all .content ul .twoPage .twoLine {
  width: 100%;
  padding: 0 25px;
  text-align: center;
}
.content_all .content ul .twoPage .twoLine li {
  display: inline-block;
  width: 32%;
  padding: 10px 0;
  margin-top: 5px;
}
.content_all .content ul .twoPage .twoLine li div {
  position: relative;
  margin-bottom: 5px;
}
.content_all .content ul .twoPage .twoLine li div i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 24px;
  height: 24px;
  background: url(../mobImg/no.png) no-repeat center;
  background-size: cover;
}
.content_all .content ul .twoPage .twoLine li.active div i {
  background: url("../mobImg/ok.png") no-repeat center;
  background-size: cover;
}
.content_all .content ul .twoPage .btnLine {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.content_all .content ul .twoPage .btnLine button {
  display: inline-block;
  width: 35%;
  height: 40px;
  line-height: 40px;
  background-color: #f38f01;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  border: 0;
}
.content_all .content ul .twoPage .btnLine button:focus {
  outline: none;
}
.content_all .content ul .twoPage .btnLine button.prevFirst {
  background-color: #bfbfbf;
}
.content_all .content ul .threePage .oneLine {
  margin-bottom: 6%;
}
.content_all .content ul .threePage .twoLine {
  position: relative;
  width: 70%;
  margin: 0 auto 10%;
}
.content_all .content ul .threePage .twoLine input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 32px;
  text-indent: 10px;
  border: 1px solid #91938a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #91938a;
}
.content_all .content ul .threePage .twoLine input:focus {
  outline: none;
}
.content_all .content ul .threePage .twoLine i {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 30px;
  background: url("../mobImg/2.png") no-repeat center;
  background-size: cover;
}
.content_all .content ul .threePage .threeLine {
  width: 100%;
  padding: 0 25px;
  text-align: center;
}
.content_all .content ul .threePage .threeLine li {
  display: inline-block;
  width: 32%;
  padding: 0;
}
.content_all .content ul .threePage .threeLine li div {
  position: relative;
  margin-bottom: 5px;
}
.content_all .content ul .threePage .threeLine li div img {
  display: none;
}
.content_all .content ul .threePage .threeLine li div img.active {
  display: block;
}
.content_all .content ul .threePage .threeLine li div i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 24px;
  height: 24px;
  background: url(../mobImg/no.png) no-repeat center;
  background-size: cover;
}
.content_all .content ul .threePage .threeLine li.active div img {
  display: block;
}
.content_all .content ul .threePage .threeLine li.active div img.active {
  display: none;
}
.content_all .content ul .threePage .threeLine li.active div i {
  background: url("../mobImg/ok.png") no-repeat center;
  background-size: cover;
}
.content_all .content ul .threePage .btnLine {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.content_all .content ul .threePage .btnLine button {
  display: inline-block;
  width: 35%;
  height: 40px;
  line-height: 40px;
  background-color: #f38f01;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  border: 0;
}
.content_all .content ul .threePage .btnLine button:focus {
  outline: none;
}
.content_all .content ul .threePage .btnLine button.prev {
  background-color: #bfbfbf;
}
.content_all .content ul .fourPage .oneLine {
  margin-top: 6%;
  margin-bottom: 10%;
  width: 60%;
}
.content_all .content ul .fourPage .twoLine {
  position: relative;
  width: 80%;
  margin: 0 auto 8%;
}
.content_all .content ul .fourPage .twoLine input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  text-indent: 45px;
  border: 1px solid #91938a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #91938a;
}
.content_all .content ul .fourPage .twoLine input:focus {
  outline: none;
}
.content_all .content ul .fourPage .twoLine i {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 30px;
  height: 30px;
  background: url("../mobImg/tel_mob.png") no-repeat center;
  background-size: contain;
}
.content_all .content ul .fourPage .twoLine i.name {
  background: url("../mobImg/name.png") no-repeat center;
  background-size: contain;
}
.content_all .content ul .fourPage .threeLine {
  width: 80%;
  margin: 0 auto 8%;
}
.content_all .content ul .fourPage .threeLine button {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f38f01;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  border: 0;
}
.content_all .content ul .fourPage .threeLine button:focus {
  outline: none;
}
.content_all .content ul .fourPage .fourLine {
  width: 80%;
  margin: 0 auto;
}
.content_all .content.topChang {
  top: 6%;
}
.content_all_three {
  position: relative;
}
.content_all_three .content {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
}
.content_all_three .content ul {
  position: relative;
}
.content_all_three .content ul .item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.content_all_three .content ul .item .oneLine {
  width: 60%;
  margin: 0 auto;
}
.content_all_three .content ul .item .twoLine {
  width: 100%;
  text-align: center;
}
.content_all_three .content ul .item .twoLine li {
  display: inline-block;
  width: 40%;
  padding: 10px 15px;
  margin-top: 5px;
}
.content_all_three .content ul .item .twoLine li div {
  margin-bottom: 5px;
}
.content_all_three .content ul .item .twoLine li div img {
  display: none;
}
.content_all_three .content ul .item .twoLine li div img.active {
  display: block;
}
.content_all_three .content ul .item .twoLine li p i {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url(../mobImgThree/no.png) no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .item .twoLine li p span {
  display: inline-block;
  vertical-align: middle;
}
.content_all_three .content ul .item .twoLine li.active div img {
  display: block;
}
.content_all_three .content ul .item .twoLine li.active div img.active {
  display: none;
}
.content_all_three .content ul .item .twoLine li.active p i {
  background: url("../mobImgThree/ok.png") no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .item .twoLine li.active p span {
  color: #ffcc00;
}
.content_all_three .content ul .item .btnLine {
  width: 100%;
  margin-top: 10px;
}
.content_all_three .content ul .item .btnLine button {
  width: 136px;
  height: 40px;
  background: url("../mobImgThree/mob_next.png") no-repeat center;
  background-size: contain;
  display: block;
  margin: 0 auto;
  border: 0;
}
.content_all_three .content ul .item .btnLine button:focus {
  outline: none;
}
.content_all_three .content ul .item.active {
  display: block;
}
.content_all_three .content ul .twoPage .oneLine {
  width: 60%;
  margin-bottom: 15px;
}
.content_all_three .content ul .twoPage .twoLine {
  width: 100%;
  padding: 0 25px;
  text-align: center;
}
.content_all_three .content ul .twoPage .twoLine li {
  display: inline-block;
  width: 32%;
  padding: 10px 15px;
  margin-top: 5px;
}
.content_all_three .content ul .twoPage .twoLine li div {
  position: relative;
  margin-bottom: 5px;
}
.content_all_three .content ul .twoPage .twoLine li div i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 24px;
  height: 24px;
  background: url(../mobImg/no.png) no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .twoPage .twoLine li.active div i {
  background: url("../mobImg/ok.png") no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .twoPage .threeLine {
  width: 100%;
  padding: 0 25px 0 33%;
  text-align: left;
}
.content_all_three .content ul .twoPage .threeLine li {
  display: block;
  margin-top: 5px;
}
.content_all_three .content ul .twoPage .threeLine li span {
  display: inline-block;
  vertical-align: middle;
}
.content_all_three .content ul .twoPage .threeLine li i {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url(../mobImgThree/no.png) no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .twoPage .threeLine li.active i {
  background: url("../mobImgThree/ok.png") no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .twoPage .threeLine li.active span {
  color: #ffcc00;
}
.content_all_three .content ul .twoPage .btnLine {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.content_all_three .content ul .twoPage .btnLine button {
  width: 136px;
  height: 40px;
  background: url("../mobImgThree/mob_next.png") no-repeat center;
  background-size: contain;
  display: inline-block;
  border: 0;
}
.content_all_three .content ul .twoPage .btnLine button:focus {
  outline: none;
}
.content_all_three .content ul .twoPage .btnLine button.prevFirst {
  background: url("../mobImgThree/mob_prev.png") no-repeat center;
  background-size: contain;
}
.content_all_three .content ul .threePage .oneLine {
  width: 60%;
  margin-bottom: 6%;
}
.content_all_three .content ul .threePage .twoLine {
  width: 100%;
  text-align: center;
}
.content_all_three .content ul .threePage .twoLine li {
  display: inline-block;
  width: 30%;
  padding: 10px 5px;
  margin-top: 5px;
}
.content_all_three .content ul .threePage .twoLine li div {
  margin-bottom: 5px;
}
.content_all_three .content ul .threePage .twoLine li div img {
  display: none;
}
.content_all_three .content ul .threePage .twoLine li div img.active {
  display: block;
}
.content_all_three .content ul .threePage .twoLine li p i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(../mobImgThree/no.png) no-repeat center;
  background-size: contain;
}
.content_all_three .content ul .threePage .twoLine li p span {
  display: inline-block;
  vertical-align: middle;
}
.content_all_three .content ul .threePage .twoLine li.active div img {
  display: block;
}
.content_all_three .content ul .threePage .twoLine li.active div img.active {
  display: none;
}
.content_all_three .content ul .threePage .twoLine li.active p i {
  background: url("../mobImgThree/ok.png") no-repeat center;
  background-size: contain;
}
.content_all_three .content ul .threePage .twoLine li.active p span {
  color: #ffcc00;
}
.content_all_three .content ul .threePage .threeLine {
  width: 100%;
  padding: 0 25px;
  text-align: center;
}
.content_all_three .content ul .threePage .threeLine li {
  display: inline-block;
  width: 32%;
  padding: 0;
}
.content_all_three .content ul .threePage .threeLine li div {
  position: relative;
  margin-bottom: 5px;
}
.content_all_three .content ul .threePage .threeLine li div img {
  display: none;
}
.content_all_three .content ul .threePage .threeLine li div img.active {
  display: block;
}
.content_all_three .content ul .threePage .threeLine li div i {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 24px;
  height: 24px;
  background: url(../mobImg/no.png) no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .threePage .threeLine li.active div img {
  display: block;
}
.content_all_three .content ul .threePage .threeLine li.active div img.active {
  display: none;
}
.content_all_three .content ul .threePage .threeLine li.active div i {
  background: url("../mobImg/ok.png") no-repeat center;
  background-size: cover;
}
.content_all_three .content ul .threePage .btnLine {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.content_all_three .content ul .threePage .btnLine button {
  width: 136px;
  height: 40px;
  background: url("../mobImgThree/mob_next.png") no-repeat center;
  background-size: contain;
  display: inline-block;
  border: 0;
}
.content_all_three .content ul .threePage .btnLine button:focus {
  outline: none;
}
.content_all_three .content ul .threePage .btnLine button.prev {
  background: url("../mobImgThree/mob_prev.png") no-repeat center;
  background-size: contain;
}
.content_all_three .content ul .fourPage .oneLine {
  margin-top: 2%;
  margin-bottom: 5%;
  width: 60%;
}
.content_all_three .content ul .fourPage .twoLine {
  position: relative;
  width: 80%;
  margin: 0 auto 8%;
}
.content_all_three .content ul .fourPage .twoLine input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  text-indent: 10px;
  border: 1px solid #91938a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #91938a;
}
.content_all_three .content ul .fourPage .twoLine input:focus {
  outline: none;
}
.content_all_three .content ul .fourPage .twoLine i {
  position: absolute;
  top: 7px;
  right: 10px;
  left: auto;
  width: 26px;
  height: 26px;
  background: url("../mobImgThree/gps.png") no-repeat center;
  background-size: contain;
}
.content_all_three .content ul .fourPage .btnLine {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.content_all_three .content ul .fourPage .btnLine button {
  width: 136px;
  height: 40px;
  background: url("../mobImgThree/finsh.png") no-repeat center;
  background-size: contain;
  display: inline-block;
  border: 0;
}
.content_all_three .content ul .fourPage .btnLine button:focus {
  outline: none;
}
.content_all_three .content ul .fourPage .btnLine button.prev {
  background: url("../mobImgThree/mob_prev.png") no-repeat center;
  background-size: contain;
}
.content_all_three .content.topChang {
  top: 6%;
}
